<div class="container">
  <div class="row">
    <div style="margin:20px;">
      <span style="background:#DDDDDD">ジャンル一覧・追加</span></br>
    </div>
      <div class="mx-auto col-12">
        <%= form_with model: @genre, url:admin_genre_path(@genre.id), local:true do |f| %>
          <table>
            <th>ジャンル名　</th>
            <td><%= f.text_field :name %>　</td>
            <td><%= f.submit '変更を保存', class: 'btn btn-success' %>　</td>
          </table>
        <% end %>
      </div>
  </div>
</div>
